/*----------------------fontes externas-------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,300;0,400;1,300;1,400&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"); /*para icones*/

/*----------------------configuração geral-------------------------*/
*{
    margin: 0;
    padding: 0;
    list-style: none; /*todos os elementos da li ja ficarao sem os pontos*/
    text-decoration: none;/*todos os elementos de links ficam sem o sublinhado*/
}
/*--------------------inicio variavel para fonte do site-----------------*/

:root{
    --font-primary:"Baloo Da 2", serif;
    --font-secundary: "Josefin Slab",serif;
    --font-action:"Muli", serif;
}
/*--------------------fim variavel para fonte do site-----------------*/

/*-----------inicio configuração do menu hamburgue-------------*/
.hamburguer{
   /* background-color: red;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;/*define ele como primeiro na linha de camadas, na frente da layer background e img*/
    right: 2rem;/*localizacao em relacao a direita*/
    top: 2rem;/*localizacao em relacao ao top*/
    display: flex;/*para que na linha possa distribuir as 3 em distancia iguais*/
    flex-direction: column;/*para que na linha possa distribuir as 3 em distancia iguais*/
    justify-content: space-evenly;/*para que na linha possa distribuir as 3 em distancia iguais*/
    cursor: pointer;
}
/*-------inicio javascript para o menu descer no site-----------*/
.show-menu .hamburguer{
    right: 16rem;
}
.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .48rem);/*para formar o "x" de fechar junto com a linha 3*/
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;/*para fazer sumir as linhas do menu hamburgue*/
}
.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.4rem);/*para formar o "x" de fechar junto com a linha 1*/
}
/*-------fim javascript para o menu descer no site-----------*/
.line{
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: .1rem .1rem 1px #000;/*istanciamento da sombra da direita /baixo /bluer"embaçada" e a cor */
    transition: transform 1s;/*suavidade na transicao do menu hamburgue p/ x*/
}
.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    color: #fff;
    font-family: var(--font-action);
    opacity: 0;/*fica escondido ate o mouse ficar sobre o menu hamburguer "x"*/
}
.show-menu .hamburguer:hover span{
    opacity: 1;/*muda a cor do botao somente quando for fechar*/
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid violet;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}
/*-----------final do menu hamburgue-------------*/


/*----------------------inicio configuração header-------------------------*/
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;/*--------tira a possibilidade de aparecer barra de rolagem-----------*/
    position: relative;/* para o banner funcionar como absolute o header tem que ser relativo*/
}
.img-wraper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);/*rgb a, onde a é a transparencia*/
}
.img-wraper img{
    width: 100%;
    height: 100%;
    object-fit: cover;/* faz com que a imagem cubra a div, a imagem nao perde propporção*/
    opacity: 0.5;/* muda a opacidade da imagem - p/ nao ficar om aparencia de lavada, colocamos background no (img-wraper)*/
    animation: zoom 10s; /*fereferente ao key frame criado abaixo*/
}
/*----------configuração de entrada NO SITE img---------------*/
@keyframes zoom {
    0%{
        transform: scale(1.3);/*zoom de 30% na imagem*/
    }
    100%{
        transform: scale(1);/*volta ao tamamho normal*/
    }
}
/*----------final img---------------*/
.banner{
    position: absolute;/* + para funcionar esse posicionamento precisa estar dentro de algo relativo, que é o header*/
    top: 30%; /*distancia em relação ao top 1/3 da tela*/
    left:15%;/*distancia em relação a lateral esquerda da tela*/
}
.banner h1{
    color: #ffffff;
    font-size: 5rem; /* tamanho referente ao elemento rpincipal do site que na maioria é 16px (3.5 * 16px)*/
    font-family: var(--font-primary);/*fonte carregada do root*/
    font-weight: 200;
    text-shadow: .3rem .4rem 2px rgba(0,0, 0, 0.4);/*istanciamento da sombra da direita /baixo /bluer"embaçada" e a cor */
    line-height: 5.5rem;/*distanciamento entre texto*/
    margin-bottom: 10rem;/*espacamento entre o h1 e p*/
    opacity: 0;/*aparece em transparencia*/
    animation: moveBanner 1s 0.5s forwards; /*referente a animacao criada*/
}
.banner p{
    font-family:var(--font-secundary);
    color: #fff;
    font-size: 3rem;
    text-shadow: .3rem .4rem 2px rgba(240, 25, 211, 0.021);/*istanciamento da sombra da direita /baixo /bluer"embaçada" e a cor */
    margin-bottom: 1rem;/*espacamento entre o p e o button*/
    opacity: 0;/*aparece em transparencia*/
    animation: moveBanner 1s 0.7s forwards; /*referente a animacao criada*/
    
}
span{
    color: rgb(235, 109, 178);
    font-weight: 800;
}
.banner button{
    font-family: var(--font-action);
    color: #fff;
    font-size: .8rem;
    border-radius: 5px;/*em pixel para nao mudar o arredondamento*/
    letter-spacing: .2rem;/*espaçamento entre as letras*/
    text-transform: uppercase;/*deixa as letras maiusculas*/
    background: #B24592;  /*gradiente pego no site https://uigradients.com/*/
    background: -webkit-linear-gradient(to right, #F15F79, #B24592);  
    background: linear-gradient(to right, #F15F79, #B24592); 
    padding: 1rem 3rem;/* esse 1rem = 16px e 3rem = 48px*/
    cursor: pointer;
    opacity: 0;/*aparece em transparencia*/
    animation: moveBanner 1s 0.9s forwards; /*referente a animacao criada*/
    
}
.banner button:hover{ /*ação no botão*/
   /* opacity: 0.8;muda ao passar o mouse em cima*/
   color: #000;
}
/*----------------------configuração de entrada do texto do header-------------------------*/
@keyframes moveBanner{
    0%{
        transform: translateY(10rem), rotateY('-30deg');/*o texto vai descer no eixo y em 160px / e virar 30 graus no mesmo eixo*/
    }
    100%{ 
        transform: translateY(0), rotateY('0');/*o texto vai voltar a posicao original*/
        opacity: 1;/*aparece */
    }
}
/*---------final do texto do header-----------*/


/*-----------inicio configuração do sidebar-------------*/
.sidebar{
    width: 20rem;/*largura de 20*16px  */
    height: 100vh;/*altura da tela definida no inicio*/
    background-color: #fff;
    top: 0;/*localizacao na tela */
    right: -20rem;/*localizacao na tela ao iniciar  */
    position: fixed;
    transition: all 1s;/*suavidade na entrada e saida*/
}
/*-----inicio classe criada no javascript-----*/
.show-menu .sidebar{
    right: 0;/*inicia em zero para estar escondida*/
}
/*-----fim classe criada no javascript-----*/
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);/*para deixar o menu centralizado*/
}
.menu-item{
    text-align: center;
    margin-bottom: .3rem;/*espaçamento entre os elementos do menu*/
}
.menu-links{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;/*define o tempo que o hover vai ficar */
}
.menu-links:hover{
    color: #e037ae;/*mudança de cor dos links do menu ao passar o mouse em cima*/
}
/*-----------final configuração do sidebar-------------*/

/*-----------inicio configuração da social media-------------*/
.social-media{
    background-color: #c5389b;
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-media i{
    color: #fff;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;/*como o icone é uma fonte aumenta usando font-size*/
    display: flex;
    justify-content: center;/*deixar centralizados o eixo x*/
    align-items: center;/*deixar centralizados o eixo y*/
    border-radius: 50%;/*deixa circular*/
    background-color: rgba(0,0, 0, 0.4);/*cor do elemnto atras dos icones*/
    transition: background-color 1s;/*para ficar mais suave a transicao do hover feito abaixo*/
}
.social-media i:hover{
    background-color: #e037ae;/*quando for selecionar algum dos icones muda a cor*/
}
/*-----------final configuração da social media-------------*/